<div class="app-container">

  <div class="side">
    <button class="item ui-button" *ngFor="let device of devices">{{device.name}}</button>
    <button class="item new ui-button"><fa-icon icon="plus"></fa-icon></button>
  </div>

  <div class="main">

    <div class="connection">
      <h1 class="brand">
        Robotie
      </h1>
      <div class="current">
        <strong>Currently controlling:</strong><br>
        {{device.name}} <span class="success">(online)</span>
      </div>
      <div class="actions">
        <button (click)="serverConnect()" class="ui-button">Connect to robot</button>
        <button class="ui-button disabled">Logs</button>
        <button class="ui-button disabled">Settings</button>
      </div>
    </div>

    <div class="navigator">
      <button routerLink="remote" routerLinkActive="active" class="ui-button">Remote control</button>
      <button routerLink="templates" routerLinkActive="active" class="ui-button">Message templates</button>
      <button routerLink="dialogs" routerLinkActive="active" class="ui-button">Dialog builder</button>
      <button routerLink="scheduler" routerLinkActive="active" class="ui-button">Schedule builder</button>
      <button routerLink="motions" routerLinkActive="active" class="ui-button">Motion builder</button>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
    
  </div>

</div>
